@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.app-background {
  width: 100vw;
  height: 100vh;
  background-image: url('/image/background/opening.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.game-title {
  color: #000000;
  font-family: 'Press Start 2P', cursive;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  image-rendering: pixelated;
  font-size: 5.2rem;
  text-align: left;
  padding-top: 8%;
  padding-left: 4%;
  margin: 0;
  /* text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.5); */
  animation: fadeIn 3s ease-in;
  cursor: default;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.select-box-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  padding-left: 4%;
  padding-top: 3%;
}

.select-box {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 16px 40px;
  border: 4px solid #000000;
  border-radius: 10;
  box-shadow: 4px 4px 0px #000000;
  image-rendering: pixelated;
  width: 40rem;
  height: 5rem;
  animation: fadeIn 3s ease-in;
  cursor: default;
}

.select-box:hover {
  background-color: #000000;
  border: none;
  color: #ffffff;
}

.select-box:active {
  box-shadow: 2px 2px 0px #000000;
  transform: translate(2px, 2px);
}